.message__container{
    display: grid;
    
    margin: 20px;
}

.message__user{
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 3px;
    margin-left: 10px;
    margin-right: 10px
}

.message__text{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    max-width: 40%;
    width: fit-content;
}

.received {
    justify-items: right;
}

.received .message__text{
    background-color: honeydew;
}