*{
    margin:0px
}

.chat__container{
    display:grid;
    grid-template-rows: 80px auto 10%;
    height:100%;
}

.chat__header{
    background-color: gainsboro;
    display:grid;
    grid-template-columns: min-content max-content auto;
    background-color: gainsboro;
    align-items: center;
    justify-items: right;
}

.chat__avatar{
    padding-left:20px
}

.chat__info{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5px;
    padding-left:20px;
    
}

.chat__title{
    font-size: 18px;
    font-weight: 550;
    color:black
}

.chat__lastSeen{
    font-size: 13px;
    color: grey
}

.chat__icons{
    display:grid;
    grid-template-columns: min-content min-content min-content;
    column-gap: 20px;
    justify-items: center;
    color: grey;
    padding-right:20px
}

.chat__display{
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    background-size: contain;
    overflow-y:auto
}

.chat__input{
    background-color: yellow
}