*{
    margin:0;
}

.home__container2{
    display: grid;
    justify-content: center;
    margin-top:17px;
}

.home__container{
    display: grid;
    grid-template-columns: 30% 70%;
    height: 95vh;
    width: 95vw;
    box-shadow: 1px 4px 20px -1px rgba(0,0,0,1)
}


.home__sidebar{
    background-color: whitesmoke;
}

.home__chat{
    background-color: brown;    
}