.sidebar__container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 65px 60px auto;
}

.sidebar__header{
    display:grid;
    grid-template-columns: min-content auto;
    background-color: gainsboro;
    align-items: center;
    justify-items: right;
    min-height: max-content
}

.sidebar__avatar{
    padding-left: 15px;
}

.sidebar__icons{
    display:grid;
    grid-template-columns: min-content min-content min-content;
    justify-items: right;
    color: grey;
    column-gap: 20px;
    padding-right:20px;
}


.sidebar__searchBar{
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 15px auto;
    align-items: center;
}

.sidebar__searchIcon{
    position: relative;  
    left: 30px;
    z-index: 1  ;
    color: grey;
}

.sidebar__input > input{
    width: 95%;
    height: 30px;
    border:none;
    outline-width: 0;
    border-radius: 15px;
    text-indent: 45px;
}

.sidebar__conversations{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    row-gap: 15px;
    height:fit-content
}
