.sidebar__container{
    display: grid;
    grid-template-columns: 100%;
     
}

.sidebar__header{
    background-color: burlywood;
    height: 15vh;
}

.sidebar__searchBar{
    background-color: chartreuse;
    height:8vh;
}

.sidebar__conversation{
    background-color: cornsilk;
    height:10vh;
}